.container{
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(14,60,98,1) 0%, rgba(40,167,161,1) 100%);
    padding: 16px 32px;
    color: #FFFF;
    text-decoration: none;
}